{% if pages > 1 %}
<div class="paginator">
    {% if page > 1 %}
    <a href="/?page={{ page - 1 }}"><<</a>
    {% endif %}
    {% for i in range(1, pages) %}
        {% if i == page %}
            {{ i }}
        {% else %}
            <a href="/?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    {% if page < pages %}
    <a href="/?page={{ page + 1 }}">>></a>
    {% endif %}
</div>
{% endif %}
